.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

body:global {
  background-color: #222222;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.page-content:global {
  padding: 0;
  margin: 0;
}