.container {
  max-width: 1000px;
  height: 340px;
}

.text {
  position: absolute;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.value {
  font-size: 3em;
  font-weight: bold;
}

.legend {
  position: absolute;
  top: 300px;
  z-index: 1;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}

:global(.ct-line) .legend {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.legend li {
  position: relative;
  margin-left: 10px;
  color: white;
}

.container :global(.ct-area) {
  fill-opacity: 0;
}

.area :global(.ct-area) {
  fill-opacity: 1;
}

.container :global(.ct-series .ct-line) {
  stroke-width: 5px;
}
.area :global(.ct-series .ct-line) {
  stroke: #000;
  stroke-width: 2px;
}
