installed_widgets:
  - dashmat.widgets:Number

dashboards:
  example:
    widgets:
       - type: Number
         title: "Random statistic"
         data: random.number
       - type: Number
         title: "Random float"
         data: random.float

checks:
  random:
    import_path: dashmat.core_modules.example:RandomNumbers
