.text {
  position: absolute;
  font-size: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.value {
  font-size: 3em;
}

.stacked :global(.ct-area) {
  fill-opacity: 1;
}

.stacked :global(.ct-series .ct-line) {
  stroke: #000;
  stroke-width: 2px;
}

.stacked :global(.ct-series-a .ct-area) {
  fill: #3298DB;
}

.stacked :global(.ct-series-b .ct-area) {
  fill: #F39C12;
}

.stacked :global(.ct-series-c .ct-area) {
  fill: #E74C3C;
}

.stacked :global(.ct-series-d .ct-area) {
  fill: #27AE60;
}

.stacked :global(.ct-series-e .ct-area) {
  fill: #8E44AD;
}

.stacked :global(.ct-series-f .ct-area) {
  fill: #3A5A7A;
}
