
.container {
  /* Make the content in the middle */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.value {
  color: white;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.last_updated {
  color: white;
  position: absolute;
  bottom: 12px;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
